<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:tizen = "http://tizen.org/ns/widgets"
        id          = "http://iptv.pro/IPTVPro"
        version     = "1.4.0"
        viewmodes   = "fullscreen">

  <tizen:application id        = "IPTVPro.App"
                     package   = "IPTVPro"
                     required_version = "7.0"
                     ambient_support  = "false"/>

  <tizen:setting screen-orientation = "landscape"
                 context-menu       = "disable"
                 background-support = "enable"
                 encryption         = "disable"
                 install-location   = "auto"
                 hwkey-event        = "enable"
                 preload            = "true"
                 prelaunch-mode     = "enable"/>

  <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>

  <content src="index.html"/>
  <name>IPTV Pro</name>
  <icon src="icon.png"/>
  <description>IPTV Player with JioTV — Tizen OS9</description>

  <access origin="*" subdomains="true"/>

  <tizen:content-security-policy>
    default-src 'self';
    script-src  'self' 'unsafe-inline' 'unsafe-eval';
    style-src   'self' 'unsafe-inline' https://fonts.googleapis.com;
    font-src    'self' https://fonts.gstatic.com;
    img-src     'self' data: https: http:;
    media-src   'self' blob: https: http:;
    connect-src 'self'
                https://houser-af7j.onrender.com
                https://iptv-org.github.io
                https://cdn.jsdelivr.net
                https://tv.media.jio.com
                https://jiotvapi.media.jio.com
                https://jiotv.data.cdn.jio.com
                https://auth.media.jio.com
                blob:;
  </tizen:content-security-policy>

  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/network.get"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
  <tizen:privilege name="http://tizen.org/privilege/websetting"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.display"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.prelaunch"/>

</widget>
